<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceMarine</title>
</head>

<body>
<center>
    <div>
        <h1 style="font-family:Copperplate Gothic;">Adeptus Astartes</h1>
        <h1>Space Marine Generator by Dafydd Pexton </h1>
    </div>
    <br><br>
    <div>

    <div>
        <h1 style="font-family:Copperplate Gothic;">You are {{ name }}, {{ role }} of the Emperors {{ chapter }} Chapter!</h1>
    </div>
    <br><br><br>
        <div><a href="{{ url_for('index') }}"><button style"
        font-size: xxx large;
        padding: 20px 38px;
        background-color:initial;
        font-variant-caps: all-small-caps;
        font-family: Copperplate Gothic;">
            Generate </button>
        </div></a>
    <br><br><br>
    <div>
    <h1 style="font-family:Copperplate Gothic;">You are {{ name }}, {{ role }} of the Emperors {{ chapter }} Chapter!</h1>
    </div>
</center>
</body>
</html>